* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 5rem auto;
    max-width: 700px;
}

.homepage {
    background: url('../img/carlos.gif');
    background-size: 100vw;
}


p,a {
    font-size: 5em;
}

a {
    margin: 1rem;
    display: inline-block;
}
.homepage p {
    color: red;
    font-weight: bold;
    transform: skew(-50deg);
    padding: 0.5em;
}
.homepage p, .homepage a {
    text-shadow: 0 0  .25em white;
}

.home {
    text-decoration: none;
    font-size: 2rem;
    padding: .5em;
}
.home:hover {
    animation: spin .5s forwards ease;
}

.hoverspin {
    transition: all .35s ease;
    transform-origin: center;
    display: inline-block;
    transform: rotate(0deg) skew(-50deg);
}

.hoverspin:hover {
    animation: spin .5s forwards ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) skew(-50deg);
    }
    100% {
        transform: rotate(720deg) skew(-50deg);
    }
}


a:hover {
    color: rgb(0,0,0);
    text-shadow: .1em .1em .5em red;
    animation: dance .4s alternate infinite;
}

@keyframes dance {
    0% {
        transform: translate(-.01em,.02em) rotate(2deg);
        text-shadow: .1em .1em .5em red;
    }
    20% {
        transform: translate(-.03em,-.02em) rotate(-2deg);
    }
    40% {
        transform: translate(00em,.05em) rotate(3deg);
        text-shadow: .1em .1em .5em green;
    }
    60% {
        transform: translate(-.02em,.02em) rotate(1deg);
    }
    80% {
        transform: translate(-.04em,.04em) rotate(-2deg);
        text-shadow: .1em .1em .5em yellow;
    }
    100% {
        transform: translate(.03em,00em) rotate(5deg);
    }
}